/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


/* Стили раздела "hero" */
.greetings {
    background-image: url('/pic/indexlogobackground.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: #fff;
}

.greetings h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffffff;
}

.greetings p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #ffffff;
}

.btn {
    display: inline-block;
    background-color: #f39c12;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e67e22;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    max-width: 100%;
    max-height: 100%;
    width: 900px;
    height: auto;
}

/* Стили раздела "featured-products" */
.featured-products {
    margin-top: 50px;
    margin-left: 1%;
    width: 50%;

}

.featured-products h2 {
    font-size: 28px;
    margin-bottom: 24px;
}

.product {
    display: inline-block;
    width: 200px;
    margin-right: 33px;
}

.product img {
    width: 220px;
    height: auto;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.product p {
    font-size: 14px;
    color: #888;
}


